XML/dtd a xsd/4.5/4.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="albumesMortadelo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="album" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="nombre" use="required" />
                        <xs:attribute name="fecha" type="xs:integer" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>